/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.active {
  color: #f0f2f5;
}

nz-layout {
  height: 100%;
}

nz-header {
  color: #f0f2f5;
}

.logo {
  height: 40px;
}

li {
  list-style: none;
}
