.nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  padding: 5px 0 5px 15px;
  margin: 5px 0 5px 0;
}

a.active {
  color: #f0f2f5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5a624;
}

nz-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nz-layout {
  height: 100%;
}

nz-header {
  color: orange;
}

nz-content {
  margin: 5px;
}

.logo {
  height: 40px;
}
